@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/TTLakes-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
    }
        
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }